.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3C88BF;
  display: flex;
  font-size: calc(8px + 1vmin);
  overflow: hidden;
  color: white;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

}

.App-header a:first-child {
  position: absolute;
  left: 0;
}

.App-header > a {
  text-align: center; 
  margin:  0px 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
